

/* 侧边导航栏自动收缩-START */

.jstree-children, .jstree-container-ul, .jstree-node {

    margin-left: 2em!important;

}
/* Background of item(s) when multi-selected */
.item-multiselected .cardScalable.cardPadder-portrait, .item-multiselected .cardScalable.cardPadder-backdrop, .item-multiselected .cardScalable.cardPadder-square{
    background: rgb(255 255 255 / 15%)!important;
    border: 2px solid #fff;
}
.card-hoverable.focusable:hover .cardOverlayContainer {
    border: 2px solid var(--theme-primary-color);
    //border-radius: 0px;
}
.selectionCommandsPanel {
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    box-sizing: border-box!important;
    border-radius: 40px !important;
    #margin: auto!important;
    margin-left: 10em!important;
    margin-right: 4em!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    #width: 100%!important;
    max-width: 100% !important;
    font-size: 12px!important;
    border: 0!important;
    //background-color: rgb(255 255 255 / 15%)!important;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%)!important;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%)!important;
    -moz-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%)!important;
    -webkit-backdrop-filter: saturate(1) blur(1.5em)!important;
    backdrop-filter: saturate(1) blur(1.5em)!important;
}


.skinHeader-withfulldrawer:not(.mainDrawer-mini) {
	padding: 1em 1em 1em 1em!important;
	margin: 0 auto;
	//backdrop-filter: none!important;
	//background: #00000000!important;
	border-bottom: 0.08em solid rgba(255, 255, 255, .08);
}

@media (min-width: 50em){
	.skinHeader-withfulldrawer:not(.mainDrawer-mini) {
		padding: 1em 2em 1em 6em!important;
	}


	.mainDrawer.drawer-docked:not(.mainDrawer-mini) { width: 5.5em; padding: 1em 1.1em 1em; transition: 0.2s; transition-delay: 0.5s; z-index: 999!important; -webkit-backdrop-filter: saturate(1.5) blur(4em); backdrop-filter: saturate(1.5) blur(4em); }
	.mainDrawer.drawer-docked:not(.mainDrawer-mini):hover { width: 17em; }

	.mainDrawer.drawer-docked:not(.mainDrawer-mini) .navDrawerLogo { display: none; }
	.mainDrawer.drawer-docked:not(.mainDrawer-mini) .navDrawerHeader { margin: 0em 0 0.5em; }
	.mainDrawer.drawer-docked:not(.mainDrawer-mini) button.btnPinNavDrawer { margin: 0 auto!important; position: static!important; font-size: inherit!important; }
	.mainDrawer.drawer-docked:not(.mainDrawer-mini) .emby-collapsible-title { transition: opacity 0.2s 0.7s ease; opacity: 0; font-size:0; transition: 0.2s; transition-delay: 0.5s;  }
	.mainDrawer.drawer-docked:not(.mainDrawer-mini):hover .emby-collapsible-title { opacity:0.5; display:block;  font-size:1em; }
	.mainDrawer.drawer-docked:not(.mainDrawer-mini) button#expandButton i{ transition: opacity 0.2s 0.7s ease; opacity: 0; font-size:0; transition: 0.2s; transition-delay: 0.5s;  }
	.mainDrawer.drawer-docked:not(.mainDrawer-mini):hover button#expandButton i{ opacity:1; font-size:1.5em; }

	.mainDrawer.drawer-docked:not(.mainDrawer-mini) div[data-listtype="playlists"]{ transition: opacity 0.2s 0.7s ease; opacity: 0; font-size:0; transition: 0.2s; transition-delay: 0.5s;  }
	.mainDrawer.drawer-docked:not(.mainDrawer-mini):hover div[data-listtype="playlists"]{ opacity:1; font-size:1em; }

	.mainDrawer.drawer-docked:not(.mainDrawer-mini) .emby-collapsible-button-collapsed { border-width: 0!important; }

	
}
	
.headerLeft .pageTitleWithDefaultLogo { display: none!important; }
.skinHeader .headerLeft { padding-left: 0!important; }


@media (min-width: 50em){ 
	.skinBody-withFullDrawer:not(.mainDrawer-mini) .padded-right:not(.dialogContentInner) { padding-right: 3rem!important; }
	.skinBody-withFullDrawer:not(.mainDrawer-mini) .padded-left:not(.dialogContentInner) { padding-left: 5rem!important; }
	.skinBody-withFullDrawer:not(.mainDrawer-mini) .trackList.padded-left { padding-left: 3rem!important; }
	.skinBody-withFullDrawer:not(.mainDrawer-mini) .withTabs.page, .skinBody-withFullDrawer .page { padding-left: 0rem!important;}
        .backdropContainer-withfulldrawer, .skinBody-withFullDrawer:not(.mainDrawer-mini) .page { left: 4rem!important; }
}

/* 侧边导航栏自动收缩-END */	